*{margin:0;padding:0;text-align:left;vertical-align:middle;}
html, body{width:100%;height:100%;}
body{overflow:hidden;background:#fff;color:#292f33;font-size:14px;line-height:18px;font-size:8.75pt;font-family:Arial;}
.bold-medium{font-weight:bold;}
a, .bold-medium{font-size:8.75pt;color:#ccc;border:medium none;text-decoration:none;}
a:hover, .bold-medium:hover{text-decoration:none;color:#fff;}
table{border-collapse:collapse;}
ul {}
ul li{list-style-type:none;text-align:center;display:inline-block;}

.body-table {width:100%;height:100%;background:url(img/bg.jpg);background-size:cover;}
.nav-left, .nav-right{width:50%;height:40px;background:rgba(0, 0, 0, 0.8);color:#fff;}
.nav-right{text-align:right;}
.nav-item{position:relative;display:inline-block;vertical-align:center;}
.body-left,.body-right{vertical-align:top;}

a.tree-menu, a.tree-menu-x, a.tree-select-menu {width:100%;display:block;color:#333;cursor:pointer;text-decoration:none}
a.tree-menu div, a.tree-menu-x div{position:relative;text-align:left;height:25px;line-height:25px;font-size:12px}
a.tree-select-menu div{position:relative;text-align:left;height:25px;line-height:25px;font-size:12px;background-color:#ddd}
a.tree-menu div:hover{background-color:#eee}
a.tree-menu-0 div{font-weight:bold;height:25px;line-height:25px;padding:0 0 0 10px;border-bottom:1px solid #ccc}
a.tree-menu-1 div{padding:0 0 0 40px}
a.tree-menu-2 div{padding:0 0 0 70px}
a.tree-menu-close div{background: url("img/button_right.gif") no-repeat scroll 27px center rgba(0,0,0,0)}
a.tree-menu-open div{background: url("img/button_down.gif") no-repeat scroll 27px center rgba(0,0,0,0)}

.dropdown-menu{padding:5px;}
.dropdown-menu ul li a{display:block;width:80px;font-size:13px;height:18px;line-height:18px;padding:5px 10px;text-align:left;color:#444;}
.dropdown-menu ul li a:hover{background-color:#608EFB;color:#fff;}
.pop-layout{position:absolute;z-index:10;display:none;}
.content-board{background-color:#fff;}
.opacity-95 {opacity:0.95;-moz-opacity:0.95;FILTER:progid:DXImageTransform.Microsoft.Alpha(opacity=95);}
.opacity-80 {opacity:0.8;-moz-opacity:0.8;FILTER:progid:DXImageTransform.Microsoft.Alpha(opacity=805);}

.angle-down,.angle-up{position:absolute;display:inline-block;height:0;width:0;border-left:5px solid transparent;border-right:5px solid transparent;}
.angle-down{border-top:5px solid #fff;}
.angle-up{border-bottom:5px solid #fff;}

.scroll-layout{position:relative;overflow:hidden;}
.radius-14{-webkit-border-radius:24px;-khtml-border-radius:24px;-moz-border-radius:24px;border-radius:24px;}
.radius-4{-webkit-border-radius:4px;-khtml-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}
.radius-3{-webkit-border-radius:3px;-khtml-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
.shadow-3{-webkit-box-shadow:inset 0 1px 3px rgba(0,0,0,0),0 0 8px rgba(0,0,0,0.6);-moz-box-shadow:inset 0 1px 3px rgba(0,0,0,0),0 0 8px rgba(0,0,0,0.6);box-shadow:inset 0 1px 3px rgba(0,0,0,0),0 0 8px rgba(0,0,0,0.6);}

.paging-anchor, .paging-anchor:hover{display:inline-block;height:25px;min-width:15px;line-height:25px;text-align:center;color:#333;border:1px solid #ddd;margin:0 3px;padding:0 5px;text-decoration:none;font-size:8.75pt;}
.paging-current-anchor, .paging-current-anchor:hover{color:#fff;background-color:#aaa;font-weight:bolder;}

.app-icons ul li{width:100px;height:100px;margin:32px 0 0 32px;}
.app-icon {position:relative;width:100%;height:100%;top:0px;}
.app-name {position:relative;top:0px;text-align:center;font-weight:bold;color:#444;}

.login-form{position:absolute;width:276px;padding:10px;height:96px;background:none repeat scroll 0 0 rgba(255,255,255,0.9);}
input, select {vertical-align:middle;display:inline-block;outline: 0 none;}
input.text-input, textarea, select.text-input {resize: none;padding: 0 4px;width:100%;-webkit-border-radius:4px;-khtml-border-radius:4px;-moz-border-radius:4px;border-radius:4px;font-size:12pt;background-color: #fff;text-align:left;border:1px solid #ccc; }
input.text-input, select.text-input {height:32px;line-height:32px;}
input.text-input:focus, textarea:focus {border:1px solid #56b4ef;-webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.05) inset, 0 0 8px rgba(82, 168, 236, 0.6);-moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.05) inset, 0 0 8px rgba(82, 168, 236, 0.6);box-shadow:0 1px 3px rgba(0, 0, 0, 0.05) inset, 0 0 8px rgba(82, 168, 236, 0.6);}
button {vertical-align:middle;-webkit-border-radius:4px;-khtml-border-radius:4px;-moz-border-radius:4px;border-radius:4px;width:150px;text-align:center;color:#ffffff;height:34px;line-height:30px;border:0;font-weight:bold;font-size:8.75pt;font-family: "Hiragino Sans GB","Microsoft YaHei","微软雅黑",tahoma,arial,simsun,"宋体";}
.submit-btn{background-color:#F26459;} .submit-btn:hover{background-color:#D84A38;}
.button-btn{background-color:#1195C5;} .button-btn:hover{background-color:#0084b4;}/*0084b4 1B9FCF*/
.toggle-btn{background-color:#7BCD40;} .toggle-btn:hover{background-color:#61B31F;}

.input-error-pop {position:absolute; top:32px; width:101%;height:30px;line-height:30px;background-color:#333;color:#fff;font-size:12px;padding: 2px 4px;z-index:10;}
.input-error-angle{position:absolute;border-bottom:5px solid #333;top:-5px;left:10px;}
